body {
    background: #121212;
}

.container {
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3em;
}

#intro {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 58px;
    background: #301E67;
    color: white;
    position: relative;
    line-height: 3rem;
}

#intro .subtitle {
    position: absolute;
    right: 60em;
    top: 3em;
}

#intro .subtitle h3 {
    display: inline-block;
}

#intro #subtitle-accent {
    color: #B6EADA;
}

@media (max-width: 991px) {
    #intro {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 45px;
    }
}