@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins&display=swap');

:root {
    --primary: #b695f1; /* 200 tonal */
    --surface: #121212;
    --secondary: #fdced4;
    --intro-font-color: #000000;
    --font-high-emphasis: #FFFFFF;
    --font-medium-emphasis: #FFFFFF90;
    --font-low-emphasis: #FFFFFF60;
    --footer-heart: red;
    --surface-elevation-1: #FFFFFF09;
}

.vertical-line {
    border-left: 1px solid var(--font-low-emphasis);
    height: max-content;
}

body {
    background: var(--surface);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    height: 3em;
    margin-top: auto;

}

footer div {
    background-color: var(--surface-elevation-1);
    color: var(--font-low-emphasis);
}

.container {
    color: var(--font-high-emphasis);
}

#intro {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 58px;
    background: var(--primary);
    color: var(--intro-font-color);
    position: relative;
    line-height: 3rem;
    font-family: 'Patua One', cursive;
}

#intro .min-about {
    font-size: 20px;
}

.fa-heart {
    color: var(--footer-heart);
}

@media (max-width: 991px) {
    #intro {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 45px;
    }
}