hr {
    width: 30%;
    text-align: center;
    margin: auto;
}

.article-container a {
    text-decoration: none;
    color: var(--secondary);
}

#parsed-content ul {
    margin: 2rem 15rem;
    max-width: 70ch;
    text-align: left;
    width: max-content;
}

#parsed-content ol {
    margin: 2rem 15rem;
    max-width: 70ch;
    text-align: left;
    width: max-content;
}

#parsed-content pre {
    background: #333 !important;
    white-space: pre;
    word-wrap: break-word;
    overflow: auto;
    margin: 2rem 15rem;
    border-radius: 4px;
    border: 1px solid #555;
    width: 35em;
    
}

#parsed-content pre code {
    display: block;
    padding: .5rem 4rem;
    overflow-x: auto;
    font-size: 13px;
    line-height: 19px;
    color: #ddd;
}

#parsed-content pre code::before {
    border-left: 1px solid white;
}

#parsed-content blockquote {
    width: max-content;
    border-left: 5px solid #a4a4a4;
    margin: 3.5rem 10rem;
    padding: 0.5em 2rem;
    quotes: "\201C""\201D""\2018""\2019";
}

#parsed-content blockquote::before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

#parsed-content blockquite cite {
    margin: 2rem 30rem;
}

#parsed-content blockquote p {
    margin: 0 !important;
}

#parsed-content p {
    max-width: 70ch;
    text-align: left;
    margin: 2rem 10rem;
}


#parsed-content :is(h1, h2, h3, h4, h5, h6){
    text-align: left;
    margin: 0 10rem;
}

.article-container {
    margin: auto;
    padding: 10px;
}

.article-container h1 {
    text-align: center;
}